h2 {
    text-align: center;
}

.field {
    align-items: center;
    padding: 2px;
    position:relative;
    width: auto;
    border-radius:5px;
    border:solid 1px hsl(37, 62%, 74%);
    background:hsl(28, 83%, 84%);
    text-align:center;
    padding:16px 18px 14px;
    margin: 12px;
}

.btn-div {
    align-items: center;
    padding: 2px;
    position:relative;
    width: auto;
    border-radius:5px;
    border:solid 1px hsl(37, 62%, 74%);
    background:hsl(28, 83%, 84%);
    text-align:center;
    padding:16px 18px 14px;
    margin: 12px;
}


.result {
    padding: 2px;
    position:relative;
    width: auto;
    // display:inline-block;
    color:hsl(0, 0%, 0%);
    text-decoration:none;
    border-radius:5px;
    border:solid 1px hsl(37, 62%, 74%);
    background:hsl(28, 83%, 84%);
    text-align:center;
    padding:16px 18px 14px;
    margin: 12px;
}


.input {
    padding: 2px;
    position:relative;
    width: auto;
    display:inline-block;
    color:hsl(0, 0%, 0%);
    text-decoration:none;
    border-radius:5px;
    border:solid 1px hsl(37, 100%, 67%);
    background:hsl(28, 83%, 84%);
    text-align:center;
    padding:16px 18px 14px;
    margin: 12px;
}


.btn {
    padding: 2px;
    position:relative;
    width: auto;
    display:inline-block;
    color:#ecf0f1;
    text-decoration:none;
    border-radius:5px;
    border:solid 1px #f39c12;
    background:#e67e22;
    text-align:center;
    padding:16px 18px 14px;
    margin: 12px;
    
    -webkit-transition: all 0.1s;
      -moz-transition: all 0.1s;
      transition: all 0.1s;
      
    -webkit-box-shadow: 0px 6px 0px #d35400;
    -moz-box-shadow: 0px 6px 0px #d35400;
    box-shadow: 0px 6px 0px #d35400;
  }
  
  .btn:active{
      -webkit-box-shadow: 0px 2px 0px #d35400;
      -moz-box-shadow: 0px 2px 0px #d35400;
      box-shadow: 0px 2px 0px #d35400;
      position:relative;
      top:4px;
  }